/* Table headers */
th {
    padding: 18px 20px;  /* Cool blue */
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
  }
  
  /* Table cells */
  td {
    padding: 18px 20px;
    font-size: 16px;
    color: #34495e;  /* Darker text for readability */
    font-family: 'Arial', sans-serif;
    border: 1px solid black;
    text-align: left;
  }
  
  /* Remove the last border from the last column */
  td:last-child, th:last-child {
    border: none;
  }

