<div class="flex flex-col justify-center items-center shadow-lg p-6 mt-4">
    <h2 class="text-3xl text-gray-700">User List</h2>
    <table class="w-100 rounded-md shadow-lg mt-4">
      <thead class="bg-indigo-600">
        <tr>
          <th>Underwriter ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>DOJ</th>
          <th>Address</th>
          <th>Password</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let underwriter of underwriters">
          <td>{{ underwriter.id }}</td>
          <td>{{ underwriter.name }}</td>
          <td>{{ underwriter.dob }}</td>
          <td>{{ underwriter.gender }}</td>
          <td>{{ underwriter.doj }}</td>
          <td>{{ underwriter.address }}</td>
          <td>{{ underwriter.password }}</td>
          <td>{{ underwriter.role }}</td>
          <td><button class="bg-red-400 p-2 rounded-lg text-white hover:bg-red-700" (click)="deleteUnderwriter(underwriter.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  